*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #434455;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 48px;
    padding-left: 290px;
    padding-right: 290px;
}

.press {
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    padding: 12px 24px;
    border-radius: 4px;
    margin-top: 0;
    margin-left: 495px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.middle-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.title-second {
    display: none;
}

.bottom-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 8px;
}

.card-background {
    display: block;
    padding-top: 32px;
    background-color: #FFF;
    text-align: center;
}

.link {
    font-weight: 500;
    color: #2e2f42;
}

.link-second {
    letter-spacing: 0.02em;
    color: #434455;
}

.all-contacts {
    font-style: normal;
}

.part-first {
    background-color: #2e2f42;
}

.part-second {
    display: flex;
    gap: 24px;
}

.list-team {
    padding-top: 72px;
    display: flex;
    gap: 24px;
}

.list-portfolio {
    padding-top: 72px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-portfolio .item {
    max-width: calc((100% - 24px) / 3);
}

.part-third {
    background-color: #F4F4FD;
}

.text-colors {
    color: #f4f4fd;
    background-color: #2e2f42;
    padding-left: 132px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 750px;
}

.header-container,
.nav-header,
.menu-header,
.contacts {
    display: flex;
    align-items: center;
}

.all-contacts {
    margin-left: auto;
    margin-right: 125px;
}

.menu-header,
.contacts {
    gap: 32px;
}

.logo-header {
    margin-left: 125px;
    margin-right: 60px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo-header,
.logo-footer,
.end-logo-footer,
.end-logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.end-logo-footer {
    color: #f4f4fd;
}

.end-logo-header {
    color: #2e2f42;
}

.logo-header,
.logo-footer {
    color: #4d5ae5;
}

.text {
    font-size: 16px;
    letter-spacing: 0.02em;
}

.text-footer .logo-header .end-logo-footer:hover,
.text-footer .logo-header .end-logo-footer:focus,
.text-footer .logo-footer:hover,
.text-footer .logo-footer:focus,
.nav-header .logo-header:hover,
.nav-header .logo-header:focus,
.nav-header .logo-header .end-logo-header:hover,
.nav-header .logo-header .end-logo-header:focus,
.menu-header .link:hover,
.menu-header .link:focus,
.contacts .link-second:hover,
.contacts .link-second:focus {
    color: #404bbf;
}

.part-first .press:hover,
.part-first .press:focus {
    background-color: #404BBF;
}

.main-text-footer {
    padding-top: 16px;
    letter-spacing: 0.02em;
}